.width-constraint {
	width: 1002px;
	margin: 0 auto;
}
#header {
	padding: 8em 0 0 2em;
	position: relative;
}
#header h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 1em;
	top: 1.5em;
	z-index: 10;
}
#header h1 a {
	display: block;
	width: 330px;
	height: 0;
	padding: 144px 0 0 0;
	overflow: hidden;
	background: url(../img/lithosphere.png) no-repeat top left;
	border-bottom: none;
}
#header h2 {
	display: none;
}
#content {
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.05);
	box-shadow: 0 0 12px rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.05);
	padding: 2em;
	float: left;
	width: 50em;
}
/** Following is for #content with navs hidden **/
#content {
	float: none;
	margin: 0 auto 2em;
	clear: both;
}
.article {
	padding-bottom: 1em;
}
.markdown-help {
	margin: 1em 0 0 0;
	padding: 2em 2em 1em;
	background: rgba(0,0,0,.05);
	font-size: 0.85em;
}
.markdown-help h4 {
	margin-top: 0;
}
blockquote {
	font-size: 0.85em;
	color: rgba(0,0,0,.5);
}
blockquote:before, blockquote:after {
	display: none;
}
.new-post {
	display: block;
	float:right;
	background: #f2f2f2;
	padding: 0.5em;
	margin-right: 7.5em;
	font-size: 1.5em;
	border-bottom: none;
	width: 6em;
	text-align: center;
}

span.timestamp {
	display: none;
}

/** Icons **/
.icon {
	display: block;
	width: 28px;
	height: 0;
	padding: 22px 0 0 0;
	overflow: hidden;
}
#timespan-icon {
	background: url(../img/icons/timespan.png) no-repeat center center;
	float: left;
}
#sources-icon {
	background: url(../img/icons/sources.png) no-repeat center center;
	cursor: pointer;
}

/** Navs **/
.nav {
	background: #f2f2f2;
	padding: .5em;
	display: none;
}
.nav a {
	color: #a6a6a6;
	border-bottom: none;
}
.nav a:hover, .nav a.active {
	color: #404040;
}
.nav.timespan {
	min-width: 300px;
	float: left;
	margin: 0 0 0 18em;
}
.nav.timespan ul {
	float: inline;
	list-style: none;
	margin: 0;
	padding: 0 .5em 0 2em;
}
.nav.timespan ul li {
	display: inline;
	padding: 0 .5em;
	font-size: .75em;
}

.nav.sources {
	float: left;
	clear: both;
	width: 15em;
	margin: 2em 0 0 0;
}

.nav.account {
	display: block;
	position: absolute;
	top: 36px;
	right: 0;
	font-size: 0.75em;
	color:#e6e6e6;
}
.nav.account img {
	padding: 2px;
	float:left;
}
.nav.account a {
	padding: 0 0.5em;
}

/** Oembed **/
.oembed-link {
	background: url(../img/icons/oembed.png) no-repeat top right;
	padding-top: 2px;
	padding-right: 20px;
	border-bottom: none;
}
.oembed-link.open {
	background-image: url(../img/icons/external.png);
}
.oembed-container {
	display: block;
	margin: 1.5em auto;
	padding: 1em 1em .5em 1em;
	width: 425px;
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	background: rgba(0,0,0,.03);
}
.oembed-container .source {
	font-size: 0.75em;
	color: #bbb;
	color: rgba(0,0,0,.2);
	text-align: right;
	display: block;
}

/** Posts **/

ul.posts {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.posts li.post {
	display: block;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	clear: both;
}

ul.posts li.post:last-child {
	margin-bottom: 3em;
}

li.post img.gravatar {
	float: left;
	padding: .5em;
	margin: 0 1em 1em 0;
	background: #e6e6e6;
}

li.post h2 {
	margin: 0;
	padding-top: 0.65em;
	font-size: 1.75em;
}
li.post h2 a {
	border-bottom: none;
}

li.post .post-author, li.post .comments {
	font-size: .75em;
	color: #ccc;
	padding:.5em 1.75em .25em 2em;
	background: url(../img/icons/dummy.png) no-repeat center left;
	display: block;
	float: left;
	border-bottom: none;
}
li.post .comments:hover {
	color: #999;
}
li.post .comments.none {
	background-image: url(../img/icons/comments-disabled.png);
}
li.post .comments.one {
	background-image: url(../img/icons/comment.png);
}
li.post .comments.many {
	background-image: url(../img/icons/comments.png);
}

/** Post **/
.post {
	position: relative;
}
.post h1, h1:first-child {
	margin: 0;
}
div.post .post-author, div.post .post-date {
	color: #999;
	font-size: 0.85em;
	display: block;
	padding: 0.5em 1.5em 0.25em 2em;
	background: url(../img/icons/dummy.png) no-repeat center left;
	position: absolute;
	top: -2em;
	right: -2em;
}
div.post .post-author {
	right: 5em;
}
div.post .post-date {
	background: none;
	padding-left: 1.5em;
}
.post .post-content {
	clear: both;
	padding-top: 1em;
}

.post h3 {
	margin: 0;
}
.post .post-comment {
	float: right;
	border-bottom: none;
	font-size: 1em;
	padding-right:1em;
	background: #f2f2f2;
}
.post .post-comment span {
	display: block;
	padding: 0.75em 2em 0.5em 1.5em;
	background: url(../img/icons/balloon.png) no-repeat center right;
}
/** Comment Thread **/
.post > ul.comments {
	font-size: 1em;
}
ul.comments {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.comments li.comment .post-comment-content:after {
	content: "";
	display: block;
	clear: both;
	height: 1px;
}
ul.comments li.comment {
	clear: both;
	display: block;
	padding: 1em 0 0 1em;
}
li.comment {
	border: 1px solid rgba(0,0,0,.05);
	border-width: 1px 0 0 1px;
	position: relative;
}
li.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
 .comment .comment .comment .comment .comment .comment {
	color: white;
}
ul.comments li.comment .comment {

}
li.comment.focused {
	background: #f8f8f8;
}
li.comment.focused .comment {
	background: rgba(7,206,255,.04);
	background: rgba(0,0,0,.03);
}
/*li.comment.focused .comment:nth-child(even) {
	background:rgba(255,0,255,.04) !important;
}*/
li.comment .post-comment-reply, li.comment .post-comment-thread {
	float: right;
	display: block;
	display:none;
	padding: 0 1em .5em 1em;
	border-bottom: none;
	font-style: italic;
	font-size: .85em;
	background: #f8f8f8;
}
li.comment .post-comment-reply span, li.comment .post-comment-thread span {
	display: block;
	padding: 0.5em 2em .25em 0;
	background: url(../img/icons/balloon-plus.png) no-repeat center right;
}
li.comment .post-comment-reply {
	float: none;
	position:absolute;
	top: -1px;
	right: -6.1em;
	border: 1px solid rgba(0,0,0,.05);
	border-width: 1px 1px 1px 0;
}
li.comment .post-comment-thread {
	background-image: url(../img/icons/comments.png);
}
li.comment .meta {
	display: block;
	float: left;
	padding: 0.25em 1em;
	margin: -1em 1em 1em -1em;
	background: rgba(0,0,0,.02);
	color: rgba(0,0,0,.25);
	text-align: center;
}
li.comment .post-comment-author, li.comment .post-comment-created {
	font-size: 0.75em;
}
li.comment .post-comment-author {
	padding: .5em 0 .5em 2.25em;
	background: url(../img/icons/dummy.png) no-repeat center left;
	font-style: italic;
	font-size: 0.75em;
}
li.comment .post-comment-created {
	display: block;
}
li.comment .icon.created {
	background: url(../img/icons/timespan.png) no-repeat center center;
	width: 16px;
	padding-top: 16px;
	float: left;
}
li.comment .post-comment-content {
	padding-right: 1em;
}
#add-post form, #add-comment form, li.comment form {
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	border: 1px solid rgba(0,0,0,.05);
	background: rgba(0,0,0,.03);
	position: relative;
}
li.comment form {
	margin: 1em;
	position: relative;
	top: -1em;
}