a:visited {
	color: #666;
}

a:visited:hover {
	color:#0BF;
}

.width-constraint {
	width: 1002px;
	margin: 0 auto;
}
#header {
	padding: 8em 0 0 2em;
	position: relative;
	margin-bottom: 3em;
}
#header h1 {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 1em;
	top: 1.5em;
	z-index: 10;
	line-height: 1em;
}
#header h1 a {
	display: block;
	width: 330px;
	height: 0;
	padding: 144px 0 0 0;
	overflow: hidden;
	background: url(../img/lithosphere.png) no-repeat top left;
	border-bottom: none;
}
#header h2 {
	display: none;
}
.width-constraint {
	position: relative;
	z-index: 20;
}
.width-constraint:after {
	content: ' ';
	height: 1px;
	overflow: hidden;
	display: block;
	clear: both;
}
#content {
	-moz-box-shadow: 0 0 12px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,.1);
	box-shadow: 0 0 12px rgba(0,0,0,.1);
	border: 1px solid #e5e5e5;
	padding: 2em;
	margin-bottom: 2em;
	float: left;
	width: 50em;
	min-height: 350px;
}


.article {
	padding-bottom: 1em;
}

.article h1 {
	line-height: 100%;
}

.markdown-help {
	margin: 0 .35em 1em 0;
	padding: 2em 2em 1em;
	background: #e0e0e0;
	font-size: 0.85em;
}
.markdown-help h4 {
	margin-top: 0;
}
.icon.toggle-markdown-help {
	background-image: url(../img/icons/edit-code.png) !important;
	border: none;
	font-size: 10px;
}

.footer {
	color: #ccc;
	color: rgba(0,0,0,.25);
	padding: 1em 0 4em;
	text-align: center;
	font-size: .75em;
}
.footer a {
	color: #ccc;
	color: rgba(0,0,0,.25);
	border-bottom: none;
}

.footer img {
	vertical-align: middle;
	position: relative;
	top: -3px;
}

blockquote {
	font-size: 0.85em;
	color: rgba(0,0,0,.5);
}
blockquote:before, blockquote:after {
	display: none;
}
.new-post {
	display: block;
	float: left;
	background: #f2f2f2;
	padding: 0.5em;
	height: 1.5em;
	margin-left: 7.5em;
	border-bottom: none !important;
	width: 6em;
	text-align: center;
}

span.timestamp {
	display: none;
}

/** Icons **/
.icon {
	display: block;
	width: 28px;
	height: 0;
	padding: 22px 0 0 0;
	overflow: hidden;
	background: transparent url(../img/icons/question.png) no-repeat center center;
}
.icon.show-text {
	background: transparent url(../img/icons/question.png) no-repeat center left;
	overflow: visible !important;
	height: auto;
	width: auto;
	padding: 0 0 0 20px;
}
#timespan-icon {
	background: url(../img/icons/timespan.png) no-repeat center center;
	float: left;
}
#sources-icon {
	background: url(../img/icons/arrow-000-medium-grey.png) no-repeat center center;
	cursor: pointer;
}

#sources-icon:hover {
	background-image: url(../img/icons/arrow-000-medium.png);
}

.closed #sources-icon {
	background-image: url(../img/icons/arrow-180-medium-grey.png);
}
.closed #sources-icon:hover {
	background-image: url(../img/icons/arrow-180-medium.png);
}

/** Navs **/
.nav {
	background: #f2f2f2;
	padding: .5em;
}
.nav a {
	color: #a6a6a6;
	border-bottom: none;
}
.nav a:hover, .nav a.active {
	color: #404040;
}
.nav.timespan {
	border-radius: 6px 6px 0 0;
	padding: .65em;
	height: 1.5em;
	min-width: 300px;
	float: left;
	margin: 0 0 0 12em;
}
.nav.timespan ul {
	float: inline;
	list-style: none;
	margin: 0;
	padding: 0 .5em 0 2em;
}
.nav.timespan ul li {
	display: inline;
	padding: 0 .5em;
	font-size: .75em;
}

.nav.timespan ul li:before, .nav.sources ul li:before {
	display: none;
}

.nav.search {
	border-radius: 6px 6px 0 0;
	float: left;
	margin-left: 12em;
}

.nav.sources {
	border-radius: 6px 0 0 6px;
	float: left;
	clear: both;
	width: 2em;
	margin: 2em 0 0 7em;
}
.nav.sources ul, .nav.sources ul li {
	margin: 0;
	pading: 0;
}

.nav.sources ul li a {
	display: block;
	padding: 4px 0 4px 2em;
	margin: 0;
	height: 1.5em;
	background: transparent url(../img/icons/globe.png) no-repeat 6px 6px;
}

.nav.sources ul li a:hover {
	background-color: #fff;
	background-color: rgba(255,255,255,.5);
}

.nav.sources a.sphere {
	background-image: url(../img/icons/sphere.png);
}

.nav.sources a.lithium {
	background-image: url(../img/icons/lithium.png);
}

.nav.sources a.questions, .icon.tag.tag.questions, .posts .post .questions a {
	background-image: url(../img/icons/question.png);
}

.nav.sources a.code, .icon.tag.code, .posts .post .code a {
	background-image: url(../img/icons/document-code.png);
}

.nav.sources a.press, .icon.tag.press, .posts .post .press a {
	background-image: url(../img/icons/newspapers.png);
}

.nav.sources a.videos, .icon.tag.videos, .posts .post .videos a {
	background-image: url(../img/icons/clapperboard.png);
}

.nav.sources a.podcasts, .icon.tag.podcasts, .posts .post .podcasts a {
	background-image: url(../img/icons/microphone.png);
}
.nav.sources a.slides, .icon.tag.slides, .posts .post .slides a {
	background-image: url(../img/icons/projection-screen-presentation.png);
}

.nav.sources a.tutorials, .icon.tag.tutorials, .posts .post .tutorials a {
	background-image: url(../img/icons/block-share.png);
}

.nav.sources a.events, .icon.tag.events, .posts .post .events a {
	background-image: url(../img/icons/calendar-blue.png);
}

.nav.sources a.apps, .icon.tag.apps, .posts .post .apps a {
	background-image: url(../img/icons/apps.png);
}

.nav.sources a.docs, .icon.tag.docs, .posts .post .docs a {
	background-image: url(../img/icons/docs.png);
}

.nav.sources.closed ul li a span {
	display: none;
}

.nav.account {
	border-radius: 0 0 0 6px;
	display: block;
	position: absolute;
	top: 36px;
	right: 0;
	font-size: 0.75em;
	color:#e6e6e6;
	padding-left: 1em ;
}
.nav.account img {
	padding: 2px;
	float:left;
}
.nav.account a {
	padding: 0 0.5em;
}

/** Oembed **/
.oembed-link {
	background: url(../img/icons/oembed.png) no-repeat top right;
	padding-top: 2px;
	padding-right: 20px;
	border-bottom: none;
}
.oembed-link.open {
	background-image: url(../img/icons/external.png);
}
.oembed-container {
	display: block;
	margin: 1.5em auto;
	padding: 1em 1em .5em 1em;
	width: 425px;
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	background: rgba(0,0,0,.03);
}
.oembed-container .source {
	font-size: 0.75em;
	color: #bbb;
	color: rgba(0,0,0,.2);
	text-align: right;
	display: block;
}

/** Posts **/
ul.posts {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

ul.posts li:before, ul.comments li:before {
	display: none !important;
}

ul.posts li.post {
	display: block;
	padding: .5em 1em;
	margin: 0;
	clear: both;
	border-top: 1px solid rgba(0,0,0,.05);
}

ul.posts li.post:nth-child(2n+0) {
	background: rgba(0,0,0,.03);
}

ul.posts li.post:first-child {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

ul.posts li.post:last-child {
	margin-bottom: 3em;
}

li.post img.gravatar {
	float: left;
	padding: 0;
	margin: 0 1em 0 0;
	background: rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
	border: 4px solid white;
}

li.post a:hover img.gravatar {
	border-color: #00A8E6;
}

li.post .post-rating {
	clear: left;
	float: left;
	padding: 0 8px;
	width: 64px;
	text-align: center;
	margin: 0 1em 1em 0;
	background: rgba(0,0,0,.05);
	color: rgba(255,255,255,.95);
	position: relative;
}
li.post .post-rating span {
	display: block;
	position: absolute;
	top: -.75em;
	right: .25em;
	padding: 0;
/*	background: url(../img/icons/star-small.png) no-repeat center left;*/
	font-weight: bold;
	font-size: 2em;
	text-shadow: rgba(0,0,0,.5) -6px -6px 6px;
}
li.post .post-rating.empty {
	color: rgba(255,255,255,.5);
}
li.post .post-rating.empty span {
/*	background-image: url(../img/icons/star-small-disabled.png);*/
}


li.post h2 {
	margin: .25em 0;
	padding-top: 0;
	font-size: 1.75em;
}
li.post h2 a {
	border-bottom: none;
	display: block;
	padding-left: 1.25em;
	background: transparent url(../img/icons/sphere.png) no-repeat center left;
}

li.post .post-author, li.post .post-created, li.post .comments, li.post .tag {
	font-size: .75em;
	color: #b2b2b2;
	padding:.5em 1em .25em 2em;
	background: url(../img/icons/dummy.png) no-repeat center left;
	display: inline;
	border-bottom-width: 0;
}
li.post .post-created {
	background: none;
	padding-left: 0;
}
li.post .post-author {
	font-weight: bold;
}
li.post .comments, li.post .tag {
	margin-right: 1em;
	border-right: 1px solid #e2e2e2;
}
li.post .comments.none {
	background-image: url(../img/icons/comments-disabled.png);
}
li.post .comments.one {
	background-image: url(../img/icons/comment.png);
}
li.post .comments.many {
	background-image: url(../img/icons/comments.png);
}
li.post .tag {
	background-image: url(../img/icons/tag-medium.png);
}

/** Post **/
.post {
	position: relative;
}
.post h1, h1:first-child {
	margin: 0 0 .5em 0;
}
.post h3 {
	clear: both;
}
div.post .post-meta {
	display: block;
	position: absolute;
	top: -2em;
	right: -2em;
}
div.post .post-author, div.post .post-date, div.post .tags {
	display: block;
	float: right;
	color: #b2b2b2;
	font-size: 0.85em;
	padding: 0.25em 1.25em 0 2em;
	margin: 0.5em 0 0 0;
	background: url(../img/icons/dummy.png) no-repeat center left;
}
div.post .post-author {
	font-weight: bold;
	padding-right: 1em;
}
div.post .post-author a, div.post .tags a {
	color: #00A8E6;
	border-bottom-width: 0;
}
div.post .post-author a:hover {
	border-bottom-width: 1px;
}
div.post .post-date {
	background: none;
	padding-left: 0;
}

div.post .tags {
	background-image: url(../img/icons/tag-medium.png);
	clear: right;
}


.post .post-content {
	clear: both;
	padding-top: 1em;
}

.post .post-comment, .post .endorse-post {
	float: right;
	color: #999;
	font-weight: bold;
	padding: 0 0 0 1em;
	background-color: #f2f2f2;
}
.post .post-comment:hover, .post .endorse-post:hover {
	background-color: transparent;
}
.post .post-comment {
	border-right: 0;
}
.post .endorse-post {
	border-left: 0;
}
.post .post-comment span, .post .endorse-post span {
	display: block;
	padding: 0.5em 1em .5em 1.5em;
	background: url(../img/icons/balloon.png) no-repeat center left;
}
.post .endorse-post span {
	background-image: url(../img/icons/star.png);
}
/** Comment Thread **/

h3.comments {
	float: left;
	margin-top: 2.5em;
	margin-bottom: 0;
	padding-bottom: .5em;
}
.post .view-all-comments {
	font-size: .85em;
	font-weight: bold;
	float: right;
	display: block;
	margin: 4em 0 0 0;
}

.post > ul.comments {
	font-size: 1em;
	clear: both;
	font-size: 0.85em;
	margin-top: 2em;
	border-top: 1px solid rgba(0,0,0,.05);
}
ul.comments {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.comments li.comment .post-comment-content:after {
	content: "";
	display: block;
	clear: both;
	height: 1px;
}
ul.comments li.comment {
	clear: both;
	display: block;
	padding: .5em 0 0 .5em;
	margin-bottom: .5em;
	border: 2px solid rgba(0,0,0,.05);
	border-width: 0 0 0 4px;
	position: relative;
	background: white;
	border-bottom: 1px solid transparent;
}
.comment:nth-child(even) {
	background: rgba(0,0,0,.03);
}
.comment:nth-child(odd) {
}
li.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment
 .comment .comment .comment .comment .comment .comment {
	color: white;
}
ul.comments ul.comments {
	display: none;
}
ul.comments.open, ul.comments.open ul {
	display: block !important;
}
li.comment.focused {
	border-color: #00A8E6 !important;
}

li.comment.focused .comment {
	border-color: rgba(0,168,230,.75) !important;
	border-bottom: 1px solid;
}
li.comment.focused .comment .comment {
	border-color: rgba(0,168,230,.5) !important;
}
li.comment.focused .comment .comment .comment {
	border-color: rgba(0,168,230,.25) !important;
}
/*li.comment.focused .comment:nth-child(even) {
	background:rgba(255,0,255,.04) !important;
}*/
li.comment .post-comment-reply,
li.comment .post-comment-thread,
li.comment .endorse-post-comment {
	float: right;
	display: none;
	padding: 0 1em;
	font-size: .9em;
}
li.comment .post-comment-reply:hover,
li.comment .post-comment-thread:hover,
li.comment .endorse-post-comment:hover {
	color: #00A8E6;
}
li.comment .post-comment-reply span,
li.comment .post-comment-thread span,
li.comment .endorse-post-comment span {
	display: block;
	padding: 0.35em 2em 0.35em 0;
	background: url(../img/icons/balloon-plus.png) no-repeat center right;
}
li.comment .endorse-post-comment span {
	background-image: url(../img/icons/star.png);
}
li.comment .post-comment-reply, li.comment .endorse-post-comment {
	margin-top: .5em;
}
li.comment .endorse-post-comment {
	border-top-width: 0;
}
li.comment .view-post-comment-replies {
	font-size: 0.85em;
	color: #b2b2b2;
	display:block;
	clear: both;
	background: transparent url(../img/icons/control-double-270-small-off.png) no-repeat 4px 2px;
	border-bottom: 1px solid transparent;
	border-width: 1px 0 1px 1px;
	padding: 0 1em 0 2em;
}
li.comment .view-post-comment-replies:hover {
	color: rgba(0,0,0,.75);
	background-image: url(../img/icons/control-double-270-small.png);
	border-color: rgba(0,168,230,.75);
}
li.comment .view-post-comment-replies.open {
	background-image: url(../img/icons/control-double-090-small-off.png);
}
li.comment .view-post-comment-replies.open:hover {
	background-image: url(../img/icons/control-double-090-small.png);
}
li.comment .post-comment-thread {
	background-image: url(../img/icons/comments.png);
}
li.comment .meta {
	display: block;
	float: right;
	padding: 0.25em 0.5em;
	margin: 0 0 0 1em;
	color: rgba(0,0,0,.25);
	text-align: right;
}
li.comment .post-comment-source {
	display: block;
	font-size: 0.75em;
}
li.comment .post-comment-author, li.comment .post-comment-created, li.comment .post-comment-rating {
}
li.comment .post-comment-author-icon {
	float: left;
}
li.comment .post-comment-author-icon span {
	display: block;
	background-repeat: no-repeat;
	background-position: center right;
	height: 0;
	overflow: hidden;
	width: 64px;
	height: 0;
	padding: 64px 0 0 0;
	margin: 0 1em 0.25em 0;
}
li.comment .post-comment-author-content {
	padding: 0 0 0 74px;
	margin-left: 1em;
}
li.comment:after {
	content: ' ';
	display: block;
	clear: both;
	height: 1px;
	overflow: hidden;
}
li.comment .post-comment-author {
	font-size: 0.9em;
}
li.comment .post-comment-created {
	color: rgba(0,0,0,.25);
}
li.comment .post-comment-author a {
	border-bottom: 0;
	font-weight: bold;
	color: #00A8E6;
}
li.comment .post-comment-rating {
	padding: .5em 0 .5em 2em;
	background: url(../img/icons/star-small.png) no-repeat center left;
	font-weight: bold;
	font-size: 0.75em;
}
li.comment .post-comment-rating.empty {
	background-image: url(../img/icons/star-small-disabled.png);
}
li.comment .icon.created {
	background: url(../img/icons/timespan.png) no-repeat center center;
	width: 16px;
	padding-top: 16px;
	float: left;
}
li.comment .post-comment-content {
	padding: 1em 1em 1em 0;
	border-top: 1px solid rgba(0,0,0,.03);
}
form  {
	-moz-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	box-shadow: inset 0 0 12px rgba(0,0,0,.15);
	border: 1px solid rgba(0,0,0,.05);
	background: rgba(0,0,0,.03);
	position: relative;
}
#add-post textarea, #add-comment textarea {
	margin-bottom: 0;
}
li.comment form {
	margin: 1em;
	position: relative;
	top: -1em;
}

#add-post label.tags {
	margin-top: 2.5em;
	display: block;
	clear: both;
}

.post-notes {
	color: #999;
	text-align: right;
	font-style: italic;
	display: block;
	padding-right: 1em;
	margin-top: -1em;
	font-size: .75em;
}

.base-tags {
	padding: .5em .5em .5em 0;
	margin-right: .3em;
	margin-top: 1em;
}

form .error {
	background-color: #FFe5e5;
	border: 1px solid #FFCBCB;
}

.base-tags.error {
	border-width: 1px 1px 0 1px;
}

.base-tags label {
	float: left;
	padding: 0 .5em 0 0;
}

.base-tags a {
	float: left;
	border-bottom: none;
	opacity: .35;
}

.base-tags a.selected {
	width: auto;
	height: 1.45em;
	overflow: visible;
	padding: .05em 0 0 20px;
	margin: 0 0 0 .25em;
	background-position: center left;
	text-transform: capitalize;
	color: #000;
}

.base-tags a.selected, .base-tags a:hover {
	opacity: 1;
}

/** Search **/

form.mini-search-form, form.search-form {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0 !important;
}

form.search-form:after {
	content: ' ';
	display: block;
	height: 1px;
	overflow: hidden;
	clear: both;
}

input.search-query {
	width: 33em;
	float: left;
}

input.search-submit {
	clear: none;
	margin-top: 0.25em;
	margin-left: 0.5em;
	float: left;
	text-transform: lowercase;
	font-weight: normal;
}

.mini-search-form input.search-query,
.mini-search-form input.search-submit {
	font-size: .75em;
	margin: 0;
}

.mini-search-form input.search-query {
	width: 12.5em;
	border-color: #e5e5e5;
}

.mini-search-form input.search-submit {
	margin-left: 0.5em;
}

.icon.search-help-toggler {
	margin-top: .75em;
	background: url(../img/icons/question.png) no-repeat center center;
	border-bottom: none;
}

.search-help {
	clear: both;
	margin: 1em 0 2em;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.search-help:after {
	content: ' ';
	display: block;
	clear: both;
	height: 1px;
	overflow: hidden;
}
.close-search-help {
	float: right;
}

.pagination {
	border-top: 1px solid #fafafa;
	border-top-color: rgba(0,0,0,.05);
	background: rgba(0,0,0,.03);
	padding: .5em;
}

.pagination:after {
	content: ' ';
	display: block;
	height: 1px;
	overflow: hidden;
	clear:both;
}

.pagination .total {
	float: right;
	font-size: .75em;
	color: #999;
}

.pagination .pages {
	float: left;
}
.pagination .pages a {
	border-bottom: none !important;
	display: block;
	float: left;
	padding: .25em;
	font-size: 1.75em;
}
.pagination .pages .first, .pagination .pages .last {
	padding: .65em .25em;
	font-size: .75em;
}

/* CLI */
#cli {
    background: rgba(0,0,0, .85)!important;
}
#cli, #git-shortcuts, .nav.account {
	position: fixed !important;
}